main {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100dvh;

    .Side-Menu { grid-column: 1; }
    .Chat-Component { grid-column: 2; }
}

.Visible { visibility: visible; }
.Hidden { visibility: hidden; }