main {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100dvh;

    .SideMenu-Component { grid-column: 1; }
    .DragZone-Component { 
        grid-column: 2;
        min-height: 0; 
        
        .Chat-Component {
            height: 100%;
        }
    }
}

.Visible { visibility: visible; }
.Hidden { visibility: hidden; }