// Main Colors
$BackgroundColor: #f9f8fd;
$PrimaryColor: #e8dbf6;
$OnPrimaryColor: #000000;
$SecondaryColor: #faebd7;
$OnPrimaryColor: #000000;

$ErrorColor: #eb4314;
$OnErrorColor: #ffffff;

$BorderColor: #d2d2d2;
$SurfaceColor: #ffffff;
$OnSurfaceColor: #000000;

$Shadow: drop-shadow(0px 4px 4px rgba(black, 0.1));