.Chat-Component {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: $BackgroundColor;

    .Messages-Container {
        grid-row: 1;
        display: flex;
        justify-content: center;
        overflow: auto;
        min-height: 0;
        padding: 32px 32px 0 32px;

        ul {
            max-width: 840px;
            flex-grow: 1;
            
            li {
                display: flex;
                margin-bottom: 32px;

                &.Server-Message { 
                    justify-content: left; 

                    div {
                        // Force the wrap in special text containers
                        & pre, & code { 
                            white-space: pre-wrap; 
                            font-family: inherit;
                        }
                    }
                }

                &.Client-Message { 
                    justify-content: right; 
                    div { background-color: $PrimaryColor; padding: 16px; border-radius: 8px; }
                }
            }
        }
    }

    .TextBox-Container {
        grid-row: 2;
        padding: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type=text] {
            width: 100%;
            height: 40px;
            max-width: 840px;
            padding: 0px 16px;
            font-size: 16px;
            border: 2px solid $BorderColor;
            border-radius: 8px;
            filter: $Shadow;
        }
    }
}