.Chat-Component {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #f9f8fd;

    .Messages-Container {
        grid-row: 1;
        display: flex;
        justify-content: center;
        overflow: auto;
        min-height: 0;
        padding: 32px;

        ul {
            max-width: 840px;
            flex-grow: 1;
            
            li {
                display: flex;
                margin-bottom: 16px;
                

                &.Server-Message { 
                    justify-content: left; 
                }

                &.Client-Message { 
                    justify-content: right; 
                    div { background-color: #e8dbf6; padding: 16px; border-radius: 8px; }
                }
            }
        }
    }

    .TextBox-Container {
        grid-row: 2;
        padding: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        .Input-Wrapper {
            width: 100%;
            max-width: 840px;
            display: flex;
            align-items: center;
            position: relative;

            img {
                visibility: hidden;
                position: absolute;
                width: 24px;
                right: 16px;

                &.Visible { visibility: visible; }
            }

            input[type=text] {
                width: 100%;
                height: 40px;
                padding: 0px 16px;
                font-size: 16px;
                border: 2px solid gray;
                border-radius: 8px;
            }
        }
    }
}