@use "../Appearance/textbox" as *;
@use "../mixins.scss" as *;

.Modal-Content {
    width: 100%;
}

.Config-Modal {
    width: 100%;
    
    .ConfigModal-Content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-flow: dense;
        padding: 16px 0 32px 0;
        overflow: hidden;
        gap: 16px;

        div {
            grid-column: 1 / -1;
            text-align: left;
            
            label {
                font-weight: bold;;
                color: gray;
            }

            input[type=text], input[type=password], input[type=number], select {
                @include TextBox-Control();
            }

            select { cursor: pointer; }
        }
    }
}