@use "../settings" as *;
@use "../mixins" as *;
@use "../Appearance/buttons" as *;

.Dragzone-Component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 100%;
    user-select: none;
    min-height: 0;
    overflow: hidden;

    .Drag-Area {
        width: 100%;
        height: 100%;
        min-height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        border: 4px dashed $PrimaryColor;
        border-radius: 8px;
        min-height: 0;
        padding: 16px;

        h1 {
            @include ScreenMinWidth(600px) { font-size: 24px; }
        }

        img {
            width: 150px;
            transition: 0.3s;
            @include ScreenMinWidth(600px) { width: 120px; }
        }

        .Upload-Button {
            @include Button-Control();
            margin-top: 32px;

            input[type=file] {
                display: none;
            }
        }
    }
}
